<div class="home">
<a class="button icon-left ion-chevron-left button-clear button-dark" href="#/">Voltar</a>

<div class="list card">
  
  <div class="item item-avatar">
<img ng-src="{{movie.cover}}">
    <h2>{{movie.title}}</h2>
    <p>{{movie.category}}</p>
  </div>

  <div class="item item-image">
    <img ng-src="{{movie.cover}}">
  </div>

  

</div>

<div class="list">
     <div class="item item-divider">
       Episodios
     </div>
     <div class="item item-button-right" ng-class="(s.status==true) ? 'watched' : 'notwatched'" ng-repeat="s in movie.episodes | orderBy:'movie.episode' ">
     {{s.name}}
      
    <span class="item-note">
      EP: <strong>{{s.episode}}</strong> SE: <strong>{{s.season}}</strong> 
    </span>      
     <button class="button on" ng-if="s.status" ng-click="read(movie._id, s)">
      <i class="icon ion-checkmark"></i>
    </button>
    
    <button class="button off" ng-if="s.status == false" ng-click="read(movie._id, s)">
      <i class="icon ion-checkmark"></i>
    </button>
    </div>

     
</div>
