/* Empty. Add your own CSS if you like */

.home{
    margin-top: 55px;
}

.off{
    background-color: rgba(0, 0, 0, .0);
    color: rgba(0, 0, 0, .1)
}

.off:hover{
     background-color: rgba(0, 0, 0, .0);
     color: rgba(0, 0, 0, 1);
   
}

.icon {
      font-size: 12px;
}


.on {
    background-color: rgba(0, 0, 0, .0);
    color: rgba(51, 204, 51,1);
    font-size: 12px;
}

.notwatched{
    background-color:  #F5F5F5;
}

.watched {
    background-color: #fff;
}

.item-note{
    font-size: 11px;
}